body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: green;
    background-color: black;
}
#map {
	
    height: 870px;
    width: 100%;
  
};
.row {
 position: relative;  /* 为了下方 absolute 能够设定位置 top */
}
#drawer {
 width: 60%;
 background-color: black;
 z-index: 50; /* 保持侧边栏在最顶层 */
 top: 0;
 position: absolute;
 padding: 10px;
}
button {
 border: 1px white solid;
 float: right;
}

.close-btn {
   float: right;
 }
 .close-btn,
 .open-btn {
   background-color: black;
   color: white;
   border-radius: 3px;
   border-style: none;
   margin-bottom: 10px;
 }