body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5f6265;
  background-color: #ffffff;
}

#map {

  height: 870px;
  width: 100%;

}
.col-xs-3{
  color: #3c4043;
}

.row {
  position: relative;
  /* 为了下方 absolute 能够设定位置 top */
}

#drawer {
  margin-top: 60px;
  margin-left: 10px;
  width: 20%;
  background-color: #ffffff;
  z-index: 50;
  /* 保持侧边栏在最顶层 */
  top: 0;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
}

/* remove borders around html input
https://stackoverflow.com/questions/14618028/remove-borders-around-html-input
*/
input {border:0;outline:0;}
input:focus {outline:none!important;}

button {
  margin-top: 25px;
  border: 1px white solid;
  float: right;
  /* height: 15px; */
  color: #3c4043;
  border-radius: 10px;
  /* background-color: gray; */
}


.close-btn {
  float: right;
}

.close-btn,
.open-btn {
  background-color: #ffffff;
  color: white;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 10px;
}